div {
    height: 300px;
    width: 300px;
    margin: 15px;
    border: 10px solid black;
    border-radius: 15px;
    float: left;
    overflow: hidden;
    outline-style: solid;
    outline-color: red;
    outline-width: 20px;
    padding: 20px;
}
#div2 {
   /*display: none; */
   /*visibility: hidden;*/
}
