nav li{
    width: 6cm;
    height: 1cm;
    display: inline-block;
    border: 2px red solid;
    background-color: yellow;
    border-radius: 2px;
    padding: 30px;
    font-size: xx-large;
    text-align: center;
    
    
}
nav li a:hover{
    color: red;
}
nav,a{
    text-decoration: none;
}
nav{
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 0em;
    background-color: aqua;
    text-align: right;
}
nav ul{
    
    border-style: ;
    border-radius: 20px solid;
}
body{
    margin: 0px;
    padding: 0%;
}
