div img{
    width: 10%;
}
nav li{
    width: 6cm;
    height: 1cm;
    display: inline-block;
    border: 2px red solid;
    background-color:  rgb(249, 164, 5);
    border-radius: 20px;
    padding: 30px;
    font-size: xx-large;
    text-align: center;
    
    
}
#buttons a:hover{
    color: red;
}
nav,a{
    text-decoration: none;
}
nav{
    margin: auto;
    padding: 20px 20px 20px 20px;
    border-radius: 0em;
    text-align: right;
    
}
nav ul{
    
    
    border-radius: 20px solid;
}
body{
    margin: 0px;
    padding: 0%;
}
header{
    
    text-align: left;
    background-color: aqua;
    width: auto;
}
